<a href="https://colab.research.google.com/github/asd3656/AI_12_cp2/blob/main/cp2_segmentation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**AI12_CP2_2Team**

< *이커머스 데이터 분석* >


---

**깃허브 연동**

In [ ]:
# !git clone https://asd3656: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@github.com/asd3656/AI_12_cp2.git
# # 깃허브 아이디 / 토큰 / 깃허브 아이디 / 레포 이름

In [ ]:
# !git config --global user.email '(rkdeodud222@gmail.com)' # 깃허브 이메일
# !git config --global user.name '(asd3656)' # 깃허브 아이디

In [ ]:
# cd /content/MyDrive/MyDrive/codestates/cp2/AI_12_cp2

In [ ]:
# !git add cp2_강대영.ipynb

In [ ]:
# !git commit -m 'cp2 강대영(7/18)'
# !git push origin main

**데이터 준비(Kaggle)**

In [ ]:
from google.colab import drive
drive.mount("/content/MyDrive/")

Drive already mounted at /content/MyDrive/; to attempt to forcibly remount, call drive.mount("/content/MyDrive/", force_remount=True).

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from tqdm import tqdm

In [ ]:
#filename2 = '/content/MyDrive/MyDrive/codestates/cp2/rfm_df3.csv'  # 고객 분류한 데이터 불러오기
df2 = pd.read_csv('https://raw.githubusercontent.com/asd3656/AI_12_cp2/main/rfm_df.csv')
df2.head()

,Unnamed: 0,user_id,Recency_R,Frequency_F,Monetary_M,Monetary,Score
0,135049,523974502,5,3,5,1619.462935,13
1,1225,512386086,5,3,5,1973.953447,13
2,109633,519267944,5,3,4,1327.383565,12
3,22029,513117637,5,3,4,1323.131122,12
4,26980,513320236,5,3,4,1389.465364,12

In [ ]:
df2.drop(['Unnamed: 0'], axis = 1, inplace = True) # Unnamed 삭제
df2

          user_id  Recency_R  Frequency_F  Monetary_M     Monetary  Score
0       523974502          5            3           5  1619.462935     13
1       512386086          5            3           5  1973.953447     13
2       519267944          5            3           4  1327.383565     12
3       513117637          5            3           4  1323.131122     12
4       513320236          5            3           4  1389.465364     12
...           ...        ...          ...         ...          ...    ...
347113  541167277          1            1           1     4.922896      3
347114  524708790          1            1           1     6.134959      3
347115  519280749          1            1           1     5.198110      3
347116  556746429          1            1           1     7.466679      3
347117  529883950          1            1           1     4.894551      3

[347118 rows x 6 columns]

In [ ]:
rfm_score = df2[['user_id','Monetary', 'Recency_R','Frequency_F','Monetary_M']]
rfm_score

          user_id     Monetary  Recency_R  Frequency_F  Monetary_M
0       523974502  1619.462935          5            3           5
1       512386086  1973.953447          5            3           5
2       519267944  1327.383565          5            3           4
3       513117637  1323.131122          5            3           4
4       513320236  1389.465364          5            3           4
...           ...          ...        ...          ...         ...
347113  541167277     4.922896          1            1           1
347114  524708790     6.134959          1            1           1
347115  519280749     5.198110          1            1           1
347116  556746429     7.466679          1            1           1
347117  529883950     4.894551          1            1           1

[347118 rows x 5 columns]

In [ ]:
def get_score(level, data, reverse = False):
    '''
    Description :
    level안에 있는 원소를 기준으로
    1 ~ len(level)+ 1 까지 점수를 부여하는 함수
    
    Parameters :
    level = 튜플 또는 리스트 타입의 숫자형 데이터이며 반드시 오름차순으로 정렬되어 있어야함.
    예 - [1,2,3,4,5] O, [5,4,3,2,1] X, [1,3,2,10,4] X 
    data = 점수를 부여할 데이터. 순회가능한(iterable) 데이터 형식
    reverse = 점수가 높을 때 그에 해당하는 값을 낮게 설정하고 싶을 때 True
    return :
    점수를 담고 있는 리스트 반환
    '''
    score = [] 
    for j in range(len(data)): 
        for i in range(len(level)): 
            if data[j] <= level[i]: 
                score.append(i+1) 
                break 
            elif data[j] > max(level): 
                score.append(len(level)+1) 
                break 
            else: 
                continue
    if reverse:
        return [len(level)+2-x for x in score]
    else:
        return score 
 
grid_number = 100 ## 눈금 개수, 너무 크게 잡으면 메모리 문제가 발생할 수 있음.
weights = []
for j in range(grid_number+1):
    weights += [(i/grid_number,j/grid_number,(grid_number-i-j)/grid_number)
                  for i in range(grid_number+1-j)]
num_class = 3 ## 클래스 개수
class_level = np.linspace(1,3,num_class+1)[1:-1] ## 클래스를 나누는 지점을 정한다.
total_amount_of_sales = rfm_score['Monetary'].sum() ## 구매금액 총합 = 총 매출

In [ ]:
max_std = 0 ## 표준편차 초기값
for w in tqdm(weights,position=0,desc = '[Finding Optimal weights]'):
    ## 주어진 가중치에 따른 고객별 점수 계산
    score = w[0]*rfm_score['Recency_R'] + \
                        w[1]*rfm_score['Frequency_F'] + \
                        w[2]*rfm_score['Monetary_M'] 
    rfm_score['Class'] = get_score(class_level,score,True) ## 점수를 이용하여 고객별 등급 부여
    ## 등급별로 구매금액을 집계한다.
    grouped_rfm_score = rfm_score.groupby('Class')['Monetary'].sum().reset_index()
    
    ## 제약조건 추가 - 등급이 높은 고객들의 매출이 낮은 등급의 고객들보다 커야한다.
    grouped_rfm_score = grouped_rfm_score.sort_values('Class')
    
    temp_monetary = list(grouped_rfm_score['Monetary'])
    if temp_monetary != sorted(temp_monetary,reverse=True):
        continue
    
    ## 클래스별 구매금액을 총구매금액으로 나누어 클래스별 매출 기여도 계산
    grouped_rfm_score['Monetary'] = grouped_rfm_score['Monetary'].map(lambda x : x/total_amount_of_sales)
    std_sales = grouped_rfm_score['Monetary'].std() ## 매출 기여도의 표준편차 계산
    if max_std <= std_sales:
        max_std = std_sales ## 표준편차 최대값 업데이트
        optimal_weights = w  ## 가중치 업데이트

[Finding Optimal weights]: 100%|██████████| 5151/5151 [4:08:55<00:00,  2.90s/it]

In [ ]:
optimal_weights = [0.25, 0.25, 0.5] # 가중치

In [ ]:
print(optimal_weights)

[0.25, 0.25, 0.5]

In [ ]:
score = optimal_weights[0]*rfm_score['Recency_R'] + \
        optimal_weights[1]*rfm_score['Frequency_F'] + \
        optimal_weights[2]*rfm_score['Monetary_M'] ## 고객별 점수 계산
 
rfm_score['Class'] = get_score(class_level,score,True) ## 고객별 등급 부여

In [ ]:
## 클래스별 고객 수 계산
temp_rfm_score1 = rfm_score.groupby('Class')['user_id'].count().reset_index().rename(columns={'user_id':'Count'})
 
## 클래스별 구매금액(매출)계산
temp_rfm_score2 = rfm_score.groupby('Class')['Monetary'].sum().reset_index()
 
## 클래스별 매출 기여도 계산
temp_rfm_score2['Monetary'] = temp_rfm_score2['Monetary'].map(lambda x : x/total_amount_of_sales)
 
## 데이터 결합
result_df = pd.merge(temp_rfm_score1,temp_rfm_score2,how='left',on=('Class'))

In [ ]:
rfm_score.head()

     user_id     Monetary  Recency_R  Frequency_F  Monetary_M  Class
0  523974502  1619.462935          5            3           5      1
1  512386086  1973.953447          5            3           5      1
2  519267944  1327.383565          5            3           4      1
3  513117637  1323.131122          5            3           4      1
4  513320236  1389.465364          5            3           4      1

In [ ]:
result_df.head() # result df 나옴

   Class   Count  Monetary
0      1   41788  0.260218
1      2  200550  0.544332
2      3  104780  0.195450

In [ ]:
df = pd.read_csv('/content/MyDrive/MyDrive/CP2_project/2019-Oct.csv')
df

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d
...,...,...,...,...,...,...,...,...,...
42448759,2019-10-31 23:59:58 UTC,view,2300275,2053013560530830019,electronics.camera.video,gopro,527.40,537931532,22c57267-da98-4f28-9a9c-18bb5b385193
42448760,2019-10-31 23:59:58 UTC,view,10800172,2053013554994348409,NaN,redmond,61.75,527322328,5054190a-46cb-4211-a8f1-16fc1a060ed8
42448761,2019-10-31 23:59:58 UTC,view,5701038,2053013553970938175,auto.accessories.player,kenwood,128.70,566280422,05b6c62b-992f-4e8e-91f7-961bcb4719cd
42448762,2019-10-31 23:59:59 UTC,view,21407424,2053013561579406073,electronics.clocks,tissot,689.85,513118352,4c14bf2a-2820-4504-929d-046356a5a204
42448763,2019-10-31 23:59:59 UTC,view,13300120,2053013557166998015,NaN,swisshome,155.73,525266378,6e57d2d7-6022-46e6-81d6-fa77f14cefd8

In [ ]:
# df[df['event_type'] == 'purchase']

In [ ]:
df = df[df['event_type'] == 'purchase']
df3 = df[['user_id', 'category_code', 'product_id']]
rfm_score2 = rfm_score[['user_id', 'Class']]

In [ ]:
df_merge = pd.merge(df3,rfm_score2,  how='left', left_on='user_id', right_on='user_id')
df_merge

          user_id                category_code  product_id  Class
0       543272936       electronics.smartphone     1004856      1
1       551377651       electronics.smartphone     1002532      2
2       514591159                          NaN     5100816      3
3       555332717    furniture.bathroom.toilet    13800054      2
4       524601178  electronics.audio.headphone     4804055      3
...           ...                          ...         ...    ...
742844  516604399                          NaN    26402784      1
742845  514622109     construction.tools.light    47500017      2
742846  512717356       electronics.smartphone     1003306      1
742847  533892594       electronics.smartphone     1004240      1
742848  544501248  electronics.audio.headphone     4804056      2

[742849 rows x 4 columns]

In [ ]:
# df_merge.to_csv('model_df.csv')

In [ ]:
#df_merge[df_merge['user_id'] == 554748717]

In [ ]:
# import numpy as np
# num_class = 5
# class_level = np.linspace(1,5,num_class+1)[1:-1]
# class_level